#inscription_form {
  display: block;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid black;
  background : #E9EBF2;
  width: 75%;
  margin: auto;
  margin-top: 15%;
  max-width: 1000px;
}
#inscription_form div {
  padding: 10px;
}
#validator {
  padding-top: 2%;
}

