<div id ="connection-form" class="d-flex justify-content-center align-self-center">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label for="email-connection">Email address</label>
        <input type="email" class="form-control" id="email-connection" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password-connection">Password</label>
        <input type="password" class="form-control" id="password-connection" placeholder="Mot de passe">
      </div>
      <button type="submit" class="btn btn-primary" id="send-connection-button">Se connecter</button>
    </div>
  </div>
</div>
