<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><img id="navbar-logo" src="assets/img/studelpLogo.png" alt="STUDELP logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button  type="button" id="inscription-button" class="btn btn-outline-primary" routerLink="/inscription-component" routerLinkActive="activebutton" >Inscription</button>
      </li>
      <li class="nav-item">
        <button type="button" id="connection-button" class="btn btn-outline-danger" routerLink="/connection-component" routerLinkActive="activebutton">Connexion</button>
      </li>
    </ul>
  </div>
</nav>
